article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div {
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
a:hover,
a:active {
  outline: 0;
}
input {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'amatic';
  src: url("../fonts/amaticsc-regular.eot");
  src: url("../fonts/amaticsc-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/amaticsc-regular.woff2") format('woff2'), url("../fonts/amaticsc-regular.woff") format('woff'), url("../fonts/amaticsc-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
#logo-section {
  text-align: center;
  height: 300px;
  position: relative;
}
#logo,
#logo-shadow {
  position: absolute;
  width: 226px;
  height: 80px;
  top: 110px;
  left: 33px;
  -webkit-transform: rotate(50deg) skew(50deg);
      -ms-transform: rotate(50deg) skew(50deg);
          transform: rotate(50deg) skew(50deg);
}
#logo {
  background-color: #000;
  overflow: hidden;
}
#logo-shadow {
  background-color: transparent;
  box-shadow: inset 0 0 82px -30px #000;
}
#logo-overlays {
  position: absolute;
  left: 0;
  top: 0;
}
#logo-overlays img {
  height: 314px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: skew(-50deg) rotate(-50deg) translate(-87px, -12px);
      -ms-transform: skew(-50deg) rotate(-50deg) translate(-87px, -12px);
          transform: skew(-50deg) rotate(-50deg) translate(-87px, -12px);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 5s ease-in-out;
          transition: opacity 5s ease-in-out;
}
#logo-overlays img.show {
  opacity: 1;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
#fragments {
  display: none;
}
#fragments.ready {
  display: block;
}
#fragments svg {
  position: absolute;
}
#stars .star {
  mix-blend-mode: hard-light;
  position: absolute;
  -webkit-transition: -webkit-transform 30s linear, opacity 30s ease-in-out;
          transition: transform 30s linear, opacity 30s ease-in-out;
  display: block;
  background: #808080;
}
#stars .star::after {
  content: '';
  display: block;
  padding-top: 100%;
}
body,
a {
  -webkit-animation: body 60s infinite ease-in-out;
          animation: body 60s infinite ease-in-out;
}
a.link {
  -webkit-animation: a 60s infinite ease-in-out;
          animation: a 60s infinite ease-in-out;
}
#logo {
  -webkit-animation: logo 60s infinite ease-in-out;
          animation: logo 60s infinite ease-in-out;
}
#logo-shadow {
  -webkit-animation: logo-shadow 60s infinite ease-in-out;
          animation: logo-shadow 60s infinite ease-in-out;
}
#btn-ios svg {
  -webkit-animation: apple 60s infinite ease-in-out;
          animation: apple 60s infinite ease-in-out;
}
#fragments svg {
  -webkit-animation: background-day 60s infinite ease-in-out;
          animation: background-day 60s infinite ease-in-out;
}
@-webkit-keyframes body {
  0%, 100% {
    background-color: #fff;
    color: #000;
  }
  50% {
    background-color: #000;
    color: #fff;
  }
}
@keyframes body {
  0%, 100% {
    background-color: #fff;
    color: #000;
  }
  50% {
    background-color: #000;
    color: #fff;
  }
}
@-webkit-keyframes a {
  0%, 100% {
    color: #999;
  }
  50% {
    color: #666;
  }
}
@keyframes a {
  0%, 100% {
    color: #999;
  }
  50% {
    color: #666;
  }
}
@-webkit-keyframes logo {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
}
@keyframes logo {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
}
@-webkit-keyframes logo-shadow {
  0%, 100% {
    box-shadow: inset 0 0 82px -30px #000;
  }
  50% {
    box-shadow: inset 0 0 100px -7px #fff;
  }
}
@keyframes logo-shadow {
  0%, 100% {
    box-shadow: inset 0 0 82px -30px #000;
  }
  50% {
    box-shadow: inset 0 0 100px -7px #fff;
  }
}
@-webkit-keyframes apple {
  0%, 100% {
    fill: #999;
  }
  50% {
    fill: #666;
  }
}
@keyframes apple {
  0%, 100% {
    fill: #999;
  }
  50% {
    fill: #666;
  }
}
@-webkit-keyframes background-day {
  0%, 50%, 100% {
    fill: #000;
  }
  25%, 75% {
    fill: #808080;
  }
}
@keyframes background-day {
  0%, 50%, 100% {
    fill: #000;
  }
  25%, 75% {
    fill: #808080;
  }
}
body {
  font: 14px/1.2 Courier New, PingFang SC, monospace;
  padding: 40px 20px;
}
body.font-loaded {
  font: 24px/1.2 amatic, Courier New, PingFang SC, monospace;
}
a.link {
  color: #999;
}
section {
  max-width: 300px;
  margin: 0 auto;
}
#title-section {
  margin-bottom: 40px;
}
#title {
  text-align: center;
  font-size: 2.5em;
}
#subtitle {
  font-size: 1.2em;
  text-align: center;
}
#subtitle:before,
#subtitle:after {
  content: '-';
  margin: 0 10px;
}
#store {
  margin-top: 20px;
  text-align: right;
}
#intros {
  margin-top: 64px;
  position: relative;
  height: 55px;
}
#intros .intro {
  margin-left: 6px;
  text-align: center;
}
#btn-credits {
  height: 40px;
  line-height: 40px;
  float: left;
  margin-left: 42px;
}
#btn-ios svg {
  height: 40px;
  vertical-align: -1px;
}
#btn-ios .extra {
  font-size: 12px;
  display: block;
}
.page-credits {
  text-align: center;
  -webkit-animation: none;
          animation: none;
}
.page-credits #title a {
  background: transparent;
}
.page-credits #title a:hover {
  opacity: 0.3;
}
.page-credits a {
  color: #000;
  background: rgba(0,0,0,0.05);
  -webkit-animation: none;
          animation: none;
}
.page-credits a:hover {
  background: transparent;
}
.page-credits section {
  margin-bottom: 60px;
}
.page-credits section h1 {
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
}
.page-credits section h1:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #000;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.page-credits section p {
  font-size: 1.4em;
}
.page-credits .extra {
  font-size: 12px;
  font-family: monospace;
  margin-top: 10px;
  white-space: pre;
}
#sound .list a {
  font-family: monospace !important;
  font-size: 16px;
  white-space: pre;
}
#tester p {
  margin-right: -1em;
  text-align: left;
}
#tester a,
#tester span {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 10px;
}
