-
  sound = [
    ['Rumble_BowlingBall.aif - klakmart', 'https://freesound.org/people/klakmart/sounds/108273/'],
    ['marble.wav - scotru', 'https://freesound.org/people/scotru/sounds/34732/'],
    ['Extractor Fan 02.wav - jarredgibb', 'https://freesound.org/people/jarredgibb/sounds/219488/'],
    ['Woodblock[…].3.wav - rokenjocu', 'https://freesound.org/people/rokenjocu/sounds/262061/'],
  ]
-
  tester = [
    ['Ada'],
    ['Abing', 'https://site.douban.com/plastic_moon/'],
    ['Cosmicberry', 'https://www.douban.com/people/thunderlion/'],
    ['Krazy Lee', 'https://www.douban.com/people/krazylee/'],
    ['Hxgdzyuyi', 'https://www.douban.com/people/hxgdzyuyi/'],
    ['Mockee', 'https://instagram.com/mockee/'],
    ['Kidmirror', 'https://www.douban.com/people/kidmirror/'],
    ['TQ', 'http://tianq.space/'],
    ['djFFFFF', 'https://www.douban.com/people/subrays/'],
    ['Lembacon', 'https://www.instagram.com/lembacon/'],
    ['Gimo', 'https://www.douban.com/people/masakichi/'],
    ['Anho Zhang'],
    ['ZHU Qian'],
    ['Gnod'],
    ['ThankCreate', 'http://www.thankcreate.com/works'],
    ['ZHANG Xianzhen', 'https://www.douban.com/people/growing07/']
  ]
  tester = tester.sort(function(a, b) {
    return a[0].toUpperCase() < b[0].toUpperCase() ? -1 : 1
  })

doctype html
html(lang='en')
  head
    title Credits - Day and Night
    include ../include/meta.jade
    link(rel='stylesheet' href='../css/index.css')
    link(rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png")
    link(rel="manifest" href="../favicon/manifest.json")
    meta(name="theme-color" content="#808080")
    link(rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon")

  body.page-credits
    include ../include/background.jade
    header#title-section
      h1#title
        a(href='/day-and-night') Day and Night
      h2#subtitle Credits
    section#author
      h1 Design &amp; Develop
      p
        a(href='https://twitter.com/houkanshan' target='_blank') HOU Mai

    section#music
      h1 Music
      p
        a(href='http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100394' target='_blank')
          | Almost in F - Kevin MacLeod
      p.extra
        | Licensed under Creative Commons:
        br
        | By Attribution 3.0 License
        br
        | http://creativecommons.org/licenses/by/3.0/

    section#sounds
      h1 Sounds
      p.extra All from&nbsp;
        a(href='https://freesound.org' target='_blank') FreeSound.org

      -for (var i = 0, ilen = sound.length; i < ilen; i++)
        p.list
          a(href=sound[i][1] target='_blan k')=sound[i][0]

    section#font
      h1 Font
      p
        a(href='https://www.fontsquirrel.com/fonts/amatic' target='_blank') Amatic SC - Vernon Adams
      p.extra
        | Copyright (c) 2011 by vernon adams
        br
        | (vern@newtypography.co.uk)
        br
        br
        | with Reserved Font Names
        br
        | “Amatic” “Amatic Bold” and “Amatic Regular”
        br
        br
        | This Font Software is licensed under
        br
        | the SIL Open Font License, Version 1.1.
        br
        | http://scripts.sil.org/OFL


    section#special-thanks
      h1 Special Thanks
      p
        a(href='http://serotoninphobia.info/' target='_blank') Zerotonin
      p HU Wei
      p
        a(href='https://www.linkedin.com/in/liangluo' target='_blank') LUO Liang

    section#tester
      h1 Playtesters
      p.list
        -for (var i = 0, ilen = tester.length; i < ilen; i++)
          -if (tester[i][1])
            a(href=tester[i][1] target='_blank')=tester[i][0]
          -else
            span=tester[i][0]

    script(src='../js/index.js')
