path = '../fonts/'

@font-face
    font-family: 'amatic'
    src: url(path + 'amaticsc-regular.eot')
    src: url(path + 'amaticsc-regular.eot?#iefix') format('embedded-opentype'),
         url(path + 'amaticsc-regular.woff2') format('woff2'),
         url(path + 'amaticsc-regular.woff') format('woff'),
         url(path + 'amaticsc-regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
