@require './reset'
@require './fonts'

body
  font: 24px/1.2 amatic, Courier New, PingFang SC, serif
  color: #555
  padding: 40px 20px

a
  color: #000
  &:hover
    color: #555

section
  max-width: 400px
  margin: 0 auto

#title-section
  margin-bottom: 40px

#title
  text-align: center
  font-size: 60px

#logo
  text-align: center
  height: 300px

#store
  margin-top: 40px
  text-align: center
