@require './reset'
@require './fonts'
@require './logo'
@require './day-night'

body
  font: 24px/1.2 amatic, Courier New, PingFang SC, serif
  padding: 40px 20px

a
  color: lighten(#000, 60%)

section
  max-width: 300px
  margin: 0 auto

#title-section
  margin-bottom: 40px

#title
  text-align: center
  font-size: 60px

#store
  margin-top: 40px
  text-align: right

#intro
  margin-top: 40px

#svg-apple
  height: 24px
  vertical-align: -1px
