@require './reset'
@require './fonts'
@require './logo'
@require './background'
@require './day-night'

body
  font: 14px/1.2 Courier New, PingFang SC, monospace
  padding: 40px 20px

body.font-loaded
  font: 24px/1.2 amatic, Courier New, PingFang SC, monospace

a.link
  color: lighten(#000, 60%)

section
  max-width: 300px
  margin: 0 auto

#title-section
  margin-bottom: 40px

#title
  text-align: center
  font-size: 2.5em

#subtitle
  font-size: 1.2em
  text-align: center
  &:before, &:after
    content: '-'
    margin: 0 10px

#store
  margin-top: 20px
  text-align: right

#intros
  margin-top: 64px
  position: relative
  height: 55px
  .intro
    margin-left: 6px
    text-align: center

#btn-credits
  height: 40px
  line-height: @height
  float: left
  margin-left: 42px

#btn-ios
  svg
    height: 40px
    vertical-align: -1px
  .extra
    font-size: 12px
    display: block

// Credits
.page-credits
  text-align: center
  animation: none
  #title a
    background: transparent
    &:hover
      opacity: 0.3
  a
    color: #000
    background: rgba(#000, 0.05)
    animation: none
    &:hover
      background: transparent
  section
    margin-bottom: 60px
    h1
      font-size: 2em
      margin-bottom: 20px
      position: relative
      &:after
        content: ''
        position: absolute
        width: 100%
        border-bottom: 1px solid #000
        bottom: 0
        left: 0
        transform: scaleY(0.5)
    p
      font-size: 1.4em
  .extra
    font-size: 12px
    font-family: monospace
    margin-top: 10px
    white-space: pre

#sound
  .list a
    font-family: monospace!important
    font-size: 16px
    white-space: pre

#tester
  p
    margin-right: -1em
    text-align: left
  a,span
    display: inline-block
    margin-right: 1em
    margin-bottom: 10px
