height = 300px

#logo-section
  text-align: center
  height: height
  position: relative

#svg-logo
  height: height
  margin-left: 16px

#logo
#logo-shadow
  position: absolute
  width: 226px
  height: 80px
  top: 110px
  left: 33px
  degree = 50deg
  transform: rotate(degree) skew(degree)
#logo
  background-color: #000
#logo-shadow
  background-color: transparent
  box-shadow: inset 0 0 82px -30px #000

#logo-overlays
  display: none
  position: absolute
  top: -12px
  left: 0
  img
    height: 300px - @top
    position: absolute
    top: 0
    left: 0
    mix-blend-mode: lighten
    opacity: 0

@supports (mix-blend-mode: lighten)
  #logo-overlays
    display: block
