height = 300px

#logo-section
  text-align: center
  height: height
  position: relative

#logo
#logo-shadow
  position: absolute
  width: 226px
  height: 80px
  top: 110px
  left: 33px
  degree = 50deg
  transform: rotate(degree) skew(degree) translate3d(0, 0, 0)
#logo
  background-color: #000
  overflow: hidden

#logo-shadow
  background-color: transparent
  box-shadow: inset 0 0 82px -30px #000

#logo-overlays
  position: absolute
  left: 0
  top: 0
  img
    height: 314px
    position: absolute
    top: 0
    left: 0
    opacity: 0
    degree = -50deg
    transform: skew(degree) rotate(degree) translate3d(-87px, -12px, 0)
    transform-origin: 0 0
    transition: opacity 5s ease-in-out
    &.show
      opacity: 1
