article
aside
details
figcaption
figure
footer
header
hgroup
nav
section
  display: block

body, div
dl, dt, dd
ul, ol, li
h1, h2, h3, h4, h5, h6
pre, form, fieldset, input, button, textarea
p, blockquote
th, td
  margin: 0
  padding: 0

img
fieldset
  border: 0

h1, h2, h3, h4, h5, h6
p, blockquote, div
  word-wrap: break-word

h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-size: 100%

q:before
q:after
  content: ''

a:hover
a:active
  outline: 0

input
  vertical-align: middle

a
  text-decoration: none
