#background
  #fragments
    include ../svg/fragments-01.svg
    include ../svg/fragments-02.svg
    include ../svg/fragments-03.svg
    include ../svg/fragments-04.svg
    include ../svg/fragments-05.svg
    include ../svg/fragments-06.svg
    include ../svg/fragments-07.svg
    include ../svg/fragments-08.svg
    include ../svg/fragments-09.svg
    include ../svg/fragments-10.svg
    include ../svg/fragments-11.svg
    include ../svg/fragments-12.svg
    include ../svg/fragments-13.svg
    include ../svg/fragments-14.svg
