meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(name='twitter:card' content='app')
meta(name='twitter:site' content='@houkanshan')
meta(name='twitter:description' content='A 3D physics maze game.')
meta(name='twitter:app:country' content='US')
meta(name='twitter:app:name:iphone' content='Day & Night the game')
meta(name='twitter:app:id:iphone' content='1053986842')
meta(name='twitter:app:name:ipad' content='Day & Night')
meta(name='twitter:app:id:ipad' content='1053986842')
