- var v = Date.now()

doctype html
html(lang='en')
  head
    title Day and Night
    meta(name='twitter:card' content='app')
    meta(name='twitter:site' content='@houkanshan')
    meta(name='twitter:description' content='TODO')
    meta(name='twitter:app:country' content='US')
    meta(name='twitter:app:name:iphone' content='Day & Night the game')
    meta(name='twitter:app:id:iphone' content='1053986842')
    meta(name='twitter:app:name:ipad' content='Day & Night')
    meta(name='twitter:app:id:ipad' content='1053986842')

    link(rel='stylesheet' href='css/index.css?v=#{v}')
  body
    p hello world
    script(src='js/index.js?v=#{v}')
